---
layout: default
title: Archive
sitemap: false
---
<section role="region" class="l-listing" itemscope itemtype="http://schema.org/CollectionPage">
  <h1 itemprop="name">Archive</h1>
  <p class="section-description">This is a list of all the posts published on this site, listed by date.</p>
  <div itemprop="mainContentOfPage">
    <ul class="listing">
      {% for post in site.posts %}
        {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
        {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}

        {% if month != nmonth %}
          {% if forloop.index != 1 %}</ul>{% endif %}
          <li class="listing__item">
            <h4>{{ post.date | date: '%B %Y' }}</h4><ul>
          {% endif %}
          <li><time>{{ post.date | date: "%d/%m/%Y" }}</time>: <a href="{{ post.url }}">{{ post.title }}</a></li>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>