---
layout: default
---

{% for post in paginator.posts %}
<article class="post" role="article" itemscope itemtype="http://schema.org/Article">
  {% if post.link %}
    <h1 itemprop="name"><a rel="external" href="{{ post.link }}">{{ post.title }} <span class="link-arrow">&rarr;</span></a></h1>
    {% else %}
    <h1 itemprop="name"><a href="{{ post.url }}">{{ post.title }}</a></h1>
  {% endif %}

  <p>
    <i class="icon-clock"></i>&nbsp;&nbsp;<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time> &middot; 
    <a href="{{ post.url }}" class="permalink"><i class="icon-link"></i></a>
  </p>
  <div itemprop="articleBody">
    {{ post.content }}
  </div>
</article>
{% endfor %}

<!-- Pagination links -->
<nav class="paginator">
  {% if paginator.next_page %} 
    <a href="/page{{ paginator.next_page }}/" title="Older entries">&laquo; Older</a>
  {% endif %} 

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/" title="Newer entries">Newer  &raquo;</a>
    {% else %}
    <a href="/page{{ paginator.previous_page }}/" title="Newer entries">Newer &raquo;</a>
    {% endif %}
  {% endif %}
</nav>