---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title"><a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a>{% if post.link %}<span class="link-arrow"> &rarr;</span>{% endif %}</h1>

    <p>
      <time>{{ post.date | date_to_string }}</time> &middot; 
      <a href="{{ post.url }}" class="permalink"><i class="icon-link"></i></a>
    </p>
    {{ post.content }}
  </article>
  {% endfor %}
</div>

<!-- Pagination links -->
<nav class="paginator">
  {% if paginator.next_page %} 
    <a href="/page{{ paginator.next_page }}/" title="Older entries">&laquo; Older</a>
  {% endif %} 

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/" title="Newer entries">Newer  &raquo;</a>
    {% else %}
    <a href="/page{{ paginator.previous_page }}/" title="Newer entries">Newer &raquo;</a>
    {% endif %}
  {% endif %}
</nav>