---
---

@charset "utf-8";

// SASS SETTINGS
///////////////////////////////////////////////////////////////////////////////

@import
  "settings/functions",
  "settings/variables",
  "settings/mixins";

// THE STYLES
///////////////////////////////////////////////////////////////////////////////

// Base styles
@import
  "base/normalize",
  "base/fonts",
  "base/elements",
  "base/state",
  "base/syntax";

// Layouts
@import "layouts/global";

// Modules
@import
  "modules/lists",
  "modules/nav",
  "modules/images",
  "modules/posts",
  "modules/projects";

// Print styles
@import "base/print";

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
