// GLOBAL LAYOUT
///////////////////////////////////////////////////////////////////////////////

// GRID CONTAINER
.l-container {
  @include outer-container;
}

// HEADER
.l-header {
  @include media($medium-screen)  {
    padding: em(56) 0 0 0;
    width: em(160);
    left: inherit;
    background: transparent;
    position: fixed;
  }
  background-color: $base-accent-color;
  padding: em(20) em(10) 0 em(10);
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.l-header__brand {
  @include media($medium-screen)  {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  @include transition (background-color 0.5s ease-in-out);
  margin: 0 em(20) em(20);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $light-gray;
  &:hover {
    background-color: #fff;
  }
  > h1 svg {
    @include media($medium-screen)  {
      width: 80px;
      margin-top: 0.3em;
      margin-bottom: 0.4em;
    }
    width: 45px;
    margin-top: -0.4em;
  }
  > h1 span {
    @include media($medium-screen)  {
      float: left;
      display: inline;
      position: inherit;
      margin-left: -1.3em;
      margin-bottom: 2em;
    }
    @include font-size(1.8);
    color: $light-gray;
    position: relative;
    width: 8em;
    top: -60px;
    left: 3em;
    display: block;
  }

}

.l-header__nav {
  @include media($medium-screen)  {
    display: block;
  }
  display: none;
}

// MAIN CONTENT
.l-content {
  @include media($medium-screen)  {
    @include span-columns(10);
    @include omega;
    float: right;
    margin-top: 0;
  }
  margin-top: 5em;
  background-color: $light-gray;
  min-height: 100vh;
}

// FOOTER
.l-footer {
  @include media($medium-screen)  {
    position: fixed;
    bottom: 0;
    padding-right: 1em;
    width: em(160);
  }
  padding-top: em(20);
  color: #fff;
  text-align: center;
}

.l-footer__credits{
  @include font-size(1.2);
  a {
    @include transition (color 0.5s ease-in-out);
    color: $light-gray;
    &:hover {
      color: #fff;
    }
  }
  > p {
    margin: 0.5em 0;

    svg {
      margin: 0 0.5em -0.4em 0;
    }
  }
}

.l-footer__nav {
  @include media($medium-screen)  {
    display: none;
  }
  margin-bottom: 1em;
  text-transform: capitalize;
}

// LISTING PAGES LAYOUT
.l-listing {
  padding: 0 !important;
  > h2 {
    padding: 10% 10% 0 10%;
  }
  .results_found {
    padding: 0 10%;
  }
}
