// GLOBAL LAYOUT
///////////////////////////////////////////////////////////////////////////////

// GRID CONTAINER
.l-container {
  max-width: $large-screen;
  margin-left: auto;
  margin-right: auto;
}

// HEADER
.l-header {
  @media screen and (min-width: $large-screen) {
    padding-left: 1.5em;
    width: 8em;
    position: fixed;
    border-bottom: none;
  }
  background: $base-bg-color;
  padding: em(20) em(10) 0 2em;
  // text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid $base-border-color;
}

.l-header__brand {
  min-height: 2em;
}

.l-header__nav {
  @media screen and (min-width: $large-screen) {
    display: block;
  }
  display: none;
}

// MAIN CONTENT
.l-content {
  @media screen and (min-width: $large-screen) {
    width: calc(#{$large-screen} - 8em);
    margin-left: 8em;
    margin-top: 0;
  }
  margin-top: 3em;
  min-height: 100vh;
}

// FOOTER
.l-footer {
  @media screen and (min-width: $large-screen) {
    position: fixed;
    bottom: 0;
    left: 1em;
    width: em(160);
    border-top: none;
  }
  border-top: 1px solid $base-border-color;
  padding-top: em(20);
  text-align: center;
  font-family: $label-font-family;
  .list--inline path:hover {
    fill: $hover-link-color;
  }
}

.l-footer__credits{
  @include font-size(1.2);
  a {
    @include transition (opacity 0.5s ease-in-out);
    &:hover {
      opacity: 0.5;
    }
  }
  > p {
    margin: 0.5em 0;

    svg {
      margin: 0 0.5em -0.4em 0;
    }
  }
}

.l-footer__nav {
  @media screen and (min-width: $large-screen) {
    display: none;
  }
  margin-bottom: 1em;
  text-transform: capitalize;
}

// LISTING PAGES LAYOUT
.l-listing {
  padding: 0 !important;
  > h2 {
    padding: 10% 10% 0 10%;
  }
  .results_found {
    padding: 0 10%;
  }
}
