// COLORS
///////////////////////////////////////////////////////////////////////////////

$red: #F04848;
$yellow: #ECBD0C;
$greenish: #94B68E;
$green: #6A8565;
$brown: #403434;
$cream: #F4F4F4;
$gray: #4d5955;

// FONT COLORS
$base-bg-color: $cream;
$base-font-color: $brown;
$base-accent-color: $greenish;
$base-accent-color-darken: darken($base-accent-color, 25);

// TEXT LINK COLORS
$base-link-color: $green;
$hover-link-color: lighten($base-link-color, 10);

// BORDER COLOR
$base-border-color: $brown;

// ALERT COLORS
$error-color: $red;
$notice-color: $yellow;
$success-color: $green;

// TYPOGRAPHY
///////////////////////////////////////////////////////////////////////////////

$sans-serif: "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Georgia, Cambria, "Times New Roman", Times, serif;

$base-font-family: $sans-serif;
$header-font-family: $sans-serif;

// SIZES
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// BREAKPOINTS
///////////////////////////////////////////////////////////////////////////////

$small-screen: em(560);
$medium-screen: em(800);
$large-screen: em(960);
$huge-screen: em(1600);

$max-width: em(1028);
