// COLORS
///////////////////////////////////////////////////////////////////////////////

$red: #F04848;
$yellow: #ECBD0C;
$green: #94B68E;
$plum: #DCA0DB;
$brown: #403434;
$cream: #EDE6E3;
$gray: #64696D;
$dim-gray: #72767E;

// FONT COLORS
$base-bg-color: $gray;
$base-font-color: $cream;
$base-accent-color: $cream;
$base-accent-color-darken: $plum;

// TEXT LINK COLORS
$base-link-color: $cream;
$hover-link-color: $plum;

// BORDER COLOR
$base-border-color: $dim-gray;

// ALERT COLORS
$error-color: $red;
$notice-color: $yellow;
$success-color: $green;

// TYPOGRAPHY
///////////////////////////////////////////////////////////////////////////////

$sans-serif: "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "IBM Plex Serif", Georgia, Cambria, "Times New Roman", Times, serif;

$base-font-family: $serif;
$label-font-family: $sans-serif;
$header-font-family: $sans-serif;

// SIZES
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// BREAKPOINTS
///////////////////////////////////////////////////////////////////////////////

$small-screen: em(560);
$medium-screen: em(800);
$large-screen: em(1024);
$huge-screen: em(1600);
