<header class="flex items-center justify-between py-6">
  {% include logo.html %}
  <div class="">
    <ul class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10"> 
      {% for item in site.data.menu.main %}
        <li class="inline-block px-1"><a class="relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400" href="{{ item.url }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</header>