{% assign heading = include.heading %}
{% assign description = include.description %}
{% assign align = include.align %}
{% assign date = include.date %}

<div class="py-6 md:py-12 lg:w-10/12 {% if align == "center" %}md:text-center mx-auto{% endif %}" >
  {% if date %}
  <div class="font-medium text-stone-600 dark:text-stone-400">{{ date | date: "%B %d, %Y" }}</div>
  {% endif %}


  {% if page.link %}
    <h1 class="heading text-4xl md:text-6xl font-bold md:leading-tight"><a rel="external" class="hover:text-orange-600 dark:hover:text-orange-400" href="{{ page.link }}">{{ page.title }}</a></h1>
    {% else %}
    <h1 class="heading text-4xl md:text-6xl font-bold md:leading-tight">
      {{ heading }}
    </h1>
  {% endif %}


  {% if description %}
  <h2 class="text-xl font-bold mt-2">{{ description }}</h2>
  {% endif %}
</div>