<title>
  {% if page.meta_title %}
    {{ page.meta_title }}
    {% elsif page.title %}
    {{ page.title }}
    |
    {{ site.title}}
  {% else %}
    {{ site.title }}
  {% endif %}
</title>

{% if page.meta_description %}
  <meta name="description" content="{{ page.meta_description }}"/>
  {% elsif page.description %}
  <meta name="description" content="{{ page.description }}"/>
{% endif %}

{% if page.meta_title %}<meta property="og:title" content="{{ page.meta_title }}"/>
<meta name="twitter:title" content="{{ page.meta_title }}"/>
{% else %}<meta property="og:title" content="{{ page.title }}"/>
<meta name="twitter:title" content="{{ page.title }} "/>
{% endif %}
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ page.url }}"/>
{% if page.image %}
  <meta property="og:image" content="{{ page.image | absolute_url }}"/>
  <meta name="twitter:image" content="{{ page.image | absolute_url }}"/>
  {% elsif site.seo.meta_og_image %}
  <meta property="og:image" content="{{ site.seo.meta_og_image | absolute_url }}"/>
  <meta name="twitter:image" content="{{ site.seo.meta_og_image | absolute_url }}"/>
{% endif %}
{% if page.description %}<meta property="og:description" content="{{ page.description }}"/>
<meta name="twitter:description" content="{{ page.description }}"/>
{% endif %}
{% if page.tags %}<meta property="keywords" content="{{ page.tags }}"/>
{% endif %}
<meta name="author" content="Carlos Cuéllar">
<meta property="fediverse:creator" content="@cuellarfr@vivaldi.net" />