<div class="lg:flex">

    <div class="lg:w-1/4 lg:px-4 lg:py-2 md:border-l md:border-zinc-200 md:pl-6 md:dark:border-zinc-700/80">
      <div class="text-sm text-zinc-400 dark:text-zinc-500"><a href="{{ show.url | relative_url }}" class="hover:text-teal-500 dark:hover:text-teal-400">{{ show.date | date_to_long_string }}</a> &middot; <a href="{{ post.url | relative_url }}" class="class="hover:text-green-400" itemprop="url" title="Permalink">∞</a>
      </div>
    </div>

    <div class="lg:w-3/4">
        <a href="{{ show.url | relative_url }}" class="hover:text-teal-500 dark:hover:text-teal-400">
          <h2 class="text-xl font-bold mb-1">{{ show.title }}</h2>
        </a>
      <p class="text-base text-zinc-600 dark:text-zinc-500 mb-4">{{ show.content | strip_html | truncatewords: 35 }}</p>
    </div>

</div>