<article class="lg:flex mb-12">
  <aside class="lg:w-1/4 lg:px-4 lg:py-2 md:border-l md:border-slate-200 md:pl-6 md:dark:border-slate-700/80 mb-3">
    <div class="text-sm text-slate-600 dark:text-slate-400"><a href="{{ post.url | relative_url }}" class="hover:text-teal-600 dark:hover:text-teal-400">{{ post.date | date_to_long_string }}</a> &middot; <a href="{{ post.url | relative_url }}" class="hover:text-teal-600 dark:hover:text-teal-400" title="Permalink">∞</a>
    </div>
  </aside>
  <main class="lg:w-2/4">
    {% if post.link %}
      <h2 class="text-xl font-bold mb-1"><a rel="external" class="hover:text-teal-600 dark:hover:text-teal-400" href="{{ post.link }}">{{ post.title }} <span class="link-arrow">&rarr;</span></a></h2>
      {% else %}
      <a href="{{ post.url | relative_url }}" class="hover:text-teal-600 dark:hover:text-teal-400">
        <h2 class="text-xl font-bold mb-1">{{ post.title }}</h2>
      </a>
    {% endif %}
    <p class="text-base text-slate-600 dark:text-slate-400 mb-4">{{ post.content | strip_html | truncatewords: 50 }}</p>
  </main>
</article>