// BASIC LIST STYLES
ul, ol {
  margin: 0;
  margin-bottom: $base-line-height / 2;
  padding: 0;
  padding-left: $base-line-height;
}

dl {
  margin-bottom: $base-line-height / 2;
  line-height: $base-line-height;
  dt {
    margin-top: $base-line-height / 2;
    font-weight: bold;
  }
  dd {
    margin: 0;
  }
}

// UNSTYLED LIST
.list--unstyled {
  list-style-type: none;
}

// INLINE LIST and LINKS PAGINATOR LIST
.list--inline,
.rsx-page-num-list {
  display: inline;
  padding-left: 0;
  list-style-type: none;
  li {
    @include inline-block;
    padding-right: 8px;
    padding-left: 5px;
  }
}