// BASIC LIST STYLES
ul, ol {
  margin: 0;
  margin-bottom: $base-line-height / 2;
  padding: 0;
  padding-left: $base-line-height;
}

dl {
  margin-bottom: $base-line-height / 2;
  line-height: $base-line-height;
  dt {
    margin-top: $base-line-height / 2;
    font-weight: bold;
  }
  dd {
    margin: 0;
  }
}

// UNSTYLED LIST
.list--unstyled {
  list-style-type: none;
}

// INLINE LIST
.list--inline {
  display: inline;
  padding-left: 0;
  list-style-type: none;
  li {
    @include inline-block;
    padding-right: 8px;
    padding-left: 5px;
  }
}

// LISTING POST
.listing {
  list-style-type: none;
  padding-left: 0;
}

.listing__item,
.result {
  padding: 1.5em 10%;
  &:nth-of-type(2n+1) {
    border-top: 1px solid $base-font-color;
    border-bottom: 1px solid $base-font-color;
  }
}

// LIST PROJECTS
.list--projects {
  list-style-type: none;
  padding-left: 0;
}

.list--details {
  list-style-type: none;
  padding-left: 0;
  color: $medium-gray;
  @include font-size(1.4);
}
