// BLOG POST
.post {
  padding: 10%;
  &:nth-of-type(2n) {
    border-top: 1px dashed $base-accent-color;
    border-bottom: 1px dashed $base-accent-color;
  }
  
  header {
    > h2 {
      margin-bottom: 0;
    }
    time {
      color: $medium-gray;
    }
    .permalink {
      @include font-size(2.4);
    }
  }

  img {
    border-radius: 5px;
  }
}

// LISTING POST
.listing {
  list-style-type: none;
  padding-left: 0;
}

.listing__item,
.result {
  padding: 1.5em 10%;
  &:nth-of-type(2n+1) {
    border-top: 1px dashed $base-accent-color;
    border-bottom: 1px dashed $base-accent-color;
  }
}

// SECTION DESCRIPTIONS
.section-description {
  padding: 0 10%;
}