.project {
  clear: both;
  padding: 2.5em 10%;
  border-top: 1px solid $base-font-color;
}

.project__thumb {
  float: left;
  border-radius: $base-border-radius;
  width: em(150);
  height: em(150);
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);

  @include transition(all 0.5s ease-in-out);

  @media only screen and (max-width: $small-screen) {
    width: em(100);
    height: em(100);
  }

  &:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}

.project__description {
  margin-left: em(180);

  @media only screen and (max-width: $small-screen) {
    margin-left: em(130);
  }

  > p {
    margin-bottom: 0;
  }
}

.project__summary {
  font-weight: bold;
  color: $medium-gray;
}
