.project {
  clear: both;
  padding: 1.5em 10%;
  border-top: 1px dashed $base-accent-color;
}

.project__thumb {
  float: left;
  border-radius: $base-border-radius;

  @media only screen and (max-width: $small-screen) {
    max-width: 100px;
  }
}

.project__description {
  margin-left: 180px;

  @media only screen and (max-width: $small-screen) {
    margin-left: 130px;
  }

  > p {
    margin-bottom: 0;
  }
}

.project__summary { 
  font-weight: bold;
  color: $medium-gray;
}