// SEARCH FORM
.nav__search {
  @media screen and (min-width: $large-screen) {
    width: 11em;
  }
  border: none !important;
  border-bottom: 1px solid $base-font-color !important;
  box-shadow: none !important;
  background-color: $cream;
}

input::placeholder {
  color: $base-link-color;
}
