---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "/assets/css/custom.css";
@import "/assets/css/syntax/monokai.css";

@layer components {

  .heading {
    em,
    strong {
      @apply text-transparent bg-clip-text bg-gradient-to-r from-teal-400 to-blue-500 mb-2;

      font-weight: inherit;
      font-style: normal;
    }
  }
  .logo {
    h2 {
      strong {
        @apply text-transparent bg-clip-text bg-gradient-to-r from-teal-400 to-blue-500 mb-2;
        font-weight: inherit;
        font-style: normal;
      }
    }
  }
}
