---
layout: default
title: "Music"
heading: "Music"
description: "Recent podcasts, records collected and songs listened."
---

<main id="main">
  {% include heading.html heading=page.heading %}
  <div class="lg:flex mb-3">
    <main class="lg:w-2/3 pr-8"> 
      <article class="prose prose-slate dark:prose-invert">
        <blockquote>What came first, the music or the misery?</blockquote>
        <p>If you know where that quote comes from, we are going to be friends! I am a huge music nerd, a record collector and a retired amateur DJ. Today, I spend my time listening to alternative rock, but my taste is quite eclectic.</p>
      </article>
      <article class="prose prose-slate dark:prose-invert">
        <h2 class="text-2xl font-bold mt-6">Experiment in Terror</h2>
        <p><strong>Experiment in Terror</strong> is a new podcast where I play music and I don't talk! I don't know if that makes this a podcast or just a collection of mixes, but it's fun to put together an hour of music I like.
        </p>
        <p>You can listen to <em>Experiment in Terror</em> here, and if you like it and you want to follow me, please subscribe wherever you listen to your podcasts:</p>
      </article>
      <ul class="inline">
        {% for item in site.data.podcasts %}
          <li class="inline-block px-2 py-4">
            <a rel="me" href="{{ item.link }}">
              {{ item.image }}
            </a>
          </li>
        {% endfor %}
      </ul>
      <section class="mt-16">
        {% assign sorted_shows = site.shows | sort: 'date' | reverse %}
        {% for show in sorted_shows limit:5 %}
          {% include summary-shows.html show=show %}
        {% endfor %}
        <p><a class="px-6 text-sm no-underline justify-center bg-white/60 dark:bg-slate-800/90 ring-1 ring-slate-900/5 dark:ring-white/10 hover:ring-slate-900/20 dark:hover:ring-white/20 p-2 rounded-full transition duration-300 ease-in-out" href="/archive#shows-date-list">« Previous Shows</a></p><br>
      </section>
    </main> 
    <aside class="lg:w-1/3">
      <section>
        <h3 class="text-2xl font-bold hover:text-teal-600 dark:hover:text-teal-400 py-6 border-t border-slate-200 dark:border-slate-700/80"><a href="https://www.last.fm/user/txarly">Recently Played</a></h3>
        <a href="https://www.last.fm/user/txarly"><img src="https://lastfm-recently-played.vercel.app/api?user=txarly&amp;count=7&amp;width=360" height="auto" width="420px" loading="lazy" alt="list of my recently played tracks on last.fm"></a>
      </section>
      <section>
        <h3 class="text-2xl font-bold hover:text-teal-600 dark:hover:text-teal-400 py-6 border-t border-slate-200 dark:border-slate-700/80 mt-12"><a href="records">Records Collected</a></h3>
        <div class="grid grid-flow-col grid-rows-2 grid-cols-3 gap-4">
          {% for item in site.data.records.main limit:6 %}
            <a href="records"><img src="/assets/images/records/{{ item.Thumbnail }}" alt="record by {{ item.Artist }}" width="160px" loading="lazy" class="rounded"></a>
          {% endfor %}
        </div>
      </section>
    </aside>
  </div>
</main>
