---
layout: default
title: "Records Collected"
heading: "Records Collected"
description: "Just a list of all the records in my collection."
---
<main id="main">
  {% include heading.html heading=page.heading %}

  <div class="grid grid-cols-2 gap-x-6 gap-y-10 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 xl:gap-x-8 mb-3">
    {% assign sorted_items = site.data.records.main | sort: 'Artist' %}
    {% for item in sorted_items %}
      <article class="mb-6 border-l border-stone-200 pl-6 dark:border-stone-700"><img src="/assets/images/records/{{ item.Thumbnail }}" alt="" width="160px" height="160px" loading="lazy" class="rounded">
        <p class="pt-4 text-sm font-semibold">{{ item.Title }}</p>
        <p class="text-sm">{{ item.Artist }}</p>
        <p class="text-sm">({{ item.Label }}, {{ item.Released }})</p>
      </article>
    {% endfor %}
  </div>
</main>
