---
layout: default
title: "Blog"
heading: "Blog"
---

{% include heading.html heading=page.heading %}

<main class="py-6">
  {% for post in paginator.posts %}
  <div class="mb-12">
    {% include summary.html post=post %}
  </div>
  {% endfor %}
</main>

<!-- Pagination links -->
<nav class="flex items-center justify-between py-6">
  {% if paginator.next_page %}
    <a class="font-bold hover:text-teal-400" rel="next" href="/blog/page{{ paginator.next_page }}/" title="Older entries">&laquo; Older</a>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a class="font-bold hover:text-teal-400" rel="prev" href="/blog" title="Newer entries">Newer  &raquo;</a>
    {% else %}
    <a class="font-bold hover:text-teal-400" rel="prev" href="/blog/page{{ paginator.previous_page }}/" title="Newer entries">Newer &raquo;</a>
    {% endif %}
  {% endif %}
</nav>