<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    {% include meta.html %}

    <!-- Icons -->
    <link rel="icon" href="{{ '/favicon.png' | relative_url }}">
    <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,400&display=swap" rel="stylesheet">

    <!-- Webmentions -->
    <link rel="webmention" href="https://webmention.io/cuellar.fr/webmention" />
    <link rel="pingback" href="https://webmention.io/cuellar.fr/xmlrpc" />

    <!-- RSS -->
    {% feed_meta %}

  </head>

  <body class="page {{page.bodyClass}} bg-orange-100 dark:bg-zinc-900 bg-[url('/assets/images/bg-topo.svg')] text-zinc-800 dark:text-zinc-200" >
    <div class="container mx-auto px-6 md:px-12 bg-orange-50/80 dark:bg-zinc-900/90 rounded-b-[2rem] mb-6">
      {% include header.html %}
      {{content}}
      {% include footer.html %}
    </div>
  </body>
</html>
