---
layout: default
---

{% include heading.html heading=page.heading %}

<div class="lg:flex mb-12">
  <div class="max-w-xs px-2.5 lg:max-w-none lg:w-1/3 mb-6">
    <img src="/assets/images/141.jpg" alt="portrait of carlos cuellar" class="aspect-square rotate-3 rounded-2xl bg-zinc-100 object-cover dark:bg-zinc-800">
  </div>
  <div class="lg:w-2/3 lg:order-first lg:pr-12">
    <h2 class="font-bold text-2xl md:text-4xl">My name is Carlos Cuéllar and I'm a Spanish-American UX Designer based in Portland, OR.</h2>
    <div class="mt-6 space-y-7 text-base">
      <p class="text-zinc-600 dark:text-zinc-400">In this site I collect notes and links about design, technology and music. I also like to share <a href="https://last.fm/user/txarly" class="text-teal-500 dark:text-teal-400">music I like</a>, my <a href="/music" class="text-teal-500 dark:text-teal-400">music podcast</a> and the <a href="/music/records" class="text-teal-500 dark:text-teal-400">vinyl records I collect</a>.</p>
      <p class="text-zinc-600 dark:text-zinc-400">You can also find me here: </p>
      <ul class="inline">
        
        {% for item in site.data.social %}
          <li class="inline-block px-2 py-4">
            <a rel="me" class="" href="{{ item.link }}">
              {{ item.image }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<div class="lg:flex">
  <main class="lg:w-1/2">
    <h3 class="text-2xl font-bold mb-2">Recent posts</h2>
    {% for post in site.posts limit:3 %}
    <div class="mb-6 md:border-l md:border-zinc-200 md:pl-6 md:dark:border-zinc-700/80">

      {% if post.link %}
        <h4 class="text-base font-bold font-sans"><a rel="external" class="hover:text-teal-500 dark:hover:text-teal-400" href="{{ post.link }}">{{ post.title }} <span class="link-arrow">&rarr;</span></a></h4>
        {% else %}
        <h4 class="text-base font-bold font-sans"><a href="{{ post.url | relative_url }}" class="hover:text-teal-500 dark:hover:text-teal-400">{{ post.title }}</a></h4>
      {% endif %}

      
      <p class="text-base text-zinc-600 dark:text-zinc-400">{{ post.description | strip_html | truncatewords: 15 }}</p>
    </div>
    {% endfor %}
  </main>
  
  <main class="lg:w-1/2">
    <h3 class="text-2xl font-bold mb-2">Recent shows</h2>
    {% for show in site.shows reversed limit:3 %}
    <div class="mb-6 md:border-l md:border-zinc-200 md:pl-6 md:dark:border-zinc-700/80">
      <h4 class="text-base font-bold font-sans"><a href="{{ show.url | relative_url }}" class="hover:text-teal-500 dark:hover:text-teal-400">{{ show.title }}</a></h4>
      <p class="text-base text-zinc-600 dark:text-zinc-400">{{ show.description | strip_html | truncatewords: 15 }}</p>
    </div>
    {% endfor %}
  </main>

</div>