---
layout: default
---

<article class="post h-entry" role="article" itemscope itemtype="http://schema.org/Article">
  <header>
    {% if page.link %}
      <h2 itemprop="name" class="e-content p-name"><a rel="external" href="{{ page.link }}" >{{ page.title }} <span class="link-arrow">&rarr;</span></a></h2>
      {% else %}
      <h2 itemprop="name" class="e-content p-name">{{ page.title }}</h2>
    {% endif %}
    <p>
      <time class="dt-published" itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time> &middot;
      <span class="reading-time" title="Estimated read time">
          {% assign words = content | number_of_words %}
          {% if words < 360 %}
              1 min
          {% else %}
              {{ words | divided_by:180 }} mins
          {% endif %}
      </span> &middot;
      <span>Tags:
        {% for tags in page.tags %}
          <em class="p-category">{{ tags }}</em>
        {% endfor %}
      </span> &middot;
      <a href="{{ post.url }}" class="permalink u-url" itemprop="url" title="Permalink">&infin;</a>
      <a rel="author" class="p-author h-card hidden" href="https://carloscuellar.net">Carlos Cuéllar</a>
    </p>
  </header>
  <div itemprop="articleBody" class="e-content">
    {{ content }}
  </div>
</article>

<nav class="paginator">
  {% if page.previous.url %}
    <a rel="prev" href="{{page.previous.url}}">&laquo;&nbsp;{{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a rel="next" href="{{page.next.url}}">{{page.next.title}}&nbsp;&raquo;</a>
  {% endif %}
</nav>
