---
layout: default
---

<article class="post h-entry" role="article" itemscope itemtype="http://schema.org/Article">
  <header>
    {% if page.link %}
      <h2 itemprop="name" class="e-content p-name"><a rel="external" href="{{ page.link }}" >{{ page.title }} <span class="link-arrow">&rarr;</span></a></h2>
      {% else %}
      <h2 itemprop="name" class="e-content p-name">{{ page.title }}</h2>
    {% endif %}
    <p>
      <time class="dt-published" itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time> &middot;
      <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text=@cuellarfr&related=cuellarfr" class="twitter" target="_blank">Comment on Twitter</a> &middot;
      <a href="{{ post.url }}" class="permalink u-url" itemprop="url" title="Permalink">&infin;</a>
    </p>
  </header>
  <div itemprop="articleBody">
    {{ content }}
  </div>
</article>

