---
layout: default
---
<main id="main">
  {% include heading.html heading=page.title description=page.description align="center" date=page.date %}

  {% if page.authors %}
    <div class="flex flex-col pb-3 md:hidden">
      {% for author in page.authors %}
        {% include author-large.html
          author=author
        %}
      {% endfor %}
    </div>
  {% endif %}

  {% if page.image %}
    <div class="-mx-6 md:-mx-12"><img class="w-full sepia-[.25]" src="{{ page.image }}" alt="" /></div>
  {% endif %}

  <div class="flex flex-col md:flex-row py-6 md:py-12">

    <div class="w-full md:w-3/12 pr-3">
      {% if page.authors %}
        <div class="flex flex-col hidden md:flex mb-3 md:mb-6">
          {% for author in page.authors %}
            {% include author-large.html
          author=author
          %}
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="w-full md:w-9/12">
      <div class="prose prose-stone dark:prose-invert">
        {{ content }}
        <hr>
        <p><strong>Listen here:</strong></p>
        <audio controls preload="none">
          <source src="{{ page.file }}" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
        <br>
        <p><strong>Or subscribe:</strong></p>
        <ul class="inline pl-0">
          {% for item in site.data.podcasts %}
            <li class="inline-block px-2">
              <a rel="me" href="{{ item.link }}">
                {{ item.image }}
              </a>
            </li>
          {% endfor %}
        </ul>
        <hr>
            {% if page.bluesky %}
                <script src="/assets/js/bluesky.js"></script>
                <bsky-comments post="at://did:plc:rgd6k5o56sfaena5qntdnn22/app.bsky.feed.post/{{ page.bluesky }}"></bsky-comments>
            <hr>
            {% endif %}
        <nav class="flex items-center justify-between py-6 print:invisible">
          {% if page.previous.url %}
            <a class="text-stone-800 dark:text-stone-200 px-5 text-sm no-underline justify-center bg-white/60 dark:bg-stone-800/90 ring-1 ring-stone-900/5 dark:ring-white/10 hover:ring-stone-900/20 dark:hover:ring-white/20 p-2 rounded-full transition duration-300 ease-in-out hover:text-orange-600 dark:hover:text-orange-400" rel="prev" href="{{page.previous.url}}">&laquo;&nbsp;{{ page.previous.title | truncate:18 }}</a>
          {% endif %}
          {% if page.next.url %}
            <a class="text-stone-800 dark:text-stone-200 px-5 text-sm no-underline justify-center bg-white/60 dark:bg-stone-800/90 ring-1 ring-stone-900/5 dark:ring-white/10 hover:ring-stone-900/20 dark:hover:ring-white/20 p-2 rounded-full transition duration-300 ease-in-out hover:text-orange-600 dark:hover:text-orange-400" rel="next" href="{{page.next.url}}">{{ page.next.title | truncate:18 }}&nbsp;&raquo;</a>
          {% endif %}
        </nav>

      </div>
    </div>

  </div>
</main>
