---
layout: default
---

<article class="post" role="article" itemscope itemtype="http://schema.org/Article">
  <header>
    <div class="header-bg">
      <h2 itemprop="name">{{ page.title }}</h2>
      <p class="project__summary">{{ page.description }}</p>
    </div>
    <img src="/images/{{ page.img }}" alt="">
    <ul class="list--details">
      <li><strong>Contribution:</strong> {{ page.tags }}</li>
      <li><strong>Duration:</strong> {{ page.duration }}</li>
      <li><strong>Sponsor:</strong> {{ page.sponsor }}</li>
    </ul>
  </header>
  <div itemprop="articleBody">
    {{ content }}
  </div>
</article>

<nav class="paginator">
  <a href="/work/projects/a288d20020c6de3a6926698a5b7f0a39adce6c79/">&laquo;&nbsp; Back to projects list</a>
</nav>
