html {
  font-size: 62.5%; // Sets up base 10
  @media only screen and (max-width: $small-screen) {
    font-size: 55%; // Smaller type for small devices
  }
}

body {
  @include font-size(1.6); // 16px
  background-color: $dark-blue;
  color: $base-font-color;
  font-family: $base-font-family;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
}


// Make body readable in IE8 and older
.lt-ie9 body {
  color: #fff;
}

// HEADINGS
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $header-font-family;
  margin: 0 0  0.3em 0;
  font-weight: 800;
  line-height: 1.25;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1, .h1 {
  @include font-size(3.6); // 36px
}

h2, .h2 {
  @include font-size(3.2); // 32px
}

h3, .h3 {
  @include font-size(2.8); // 28px
}

h4, .h4 {
  @include font-size(2.4); // 24px
}

h5, .h5 {
  @include font-size(2); // 20px
}

h6, .h6 {
  @include font-size(1.6); // 16px
}

// BODY TEXT
p {
  margin: 0 0 1.5em;
}

a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: none;

  &:hover {
    color: $hover-link-color;
  }

  &:active {
    outline: none;
    color: $hover-link-color;
  }
  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

hr {
  margin: $base-line-height 0;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid $base-border-color;
  border-left: none;
}

img {
  margin: 0;
  max-width: 100%;
  height: auto;
}

// INLINE TEXT SEMANTICS
abbr, acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($base-line-height / 2);
}

del {
  color: lighten($base-font-color, 15);
}

small,
.small {
  font-size: 85%;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;
  &:before {
    content: '\2014 \00A0';
  }
}

blockquote {
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
}