// IBM Plex Serif
@font-face {
  font-family: 'IBM Plex Serif';
  font-style:  normal;
  font-weight: 400;
  src: url("fonts/IBMPlexSerif-Regular.woff2") format("woff2"),
       url("fonts/IBMPlexSerif-Regular.woff") format("woff");
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-style:  italic;
  font-weight: 400;
  src: url("fonts/IBMPlexSerif-Italic.woff2") format("woff2"),
       url("fonts/IBMPlexSerif-Italic.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-style:  normal;
  font-weight: 500;
  src: url("fonts/IBMPlexSerif-Medium.woff2") format("woff2"),
       url("fonts/IBMPlexSerif-Medium.woff") format("woff");
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-style:  italic;
  font-weight: 500;
  src: url("fonts/IBMPlexSerif-MediumItalic.woff2") format("woff2"),
       url("fonts/IBMPlexSerif-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-style:  bold;
  font-weight: 700;
  src: url("fonts/IBMPlexSerif-Bold.woff2") format("woff2"),
       url("fonts/IBMPlexSerif-Bold.woff") format("woff");
}

// IBM Plex Sans Variable
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('fonts/IBMPlexSansVar-Roman.woff2') format('woff2');
  font-named-instance: 'Regular';
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('fonts/IBMPlexSansVar-Italic.woff2') format('woff2');
  font-named-instance: 'Italic';
}