// IMAGE REPLACEMENT
///////////////////////////////////////////////////////////////////////////////

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  // IE 6/7 fallback
  *text-indent: -9999px;
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}

// HIDE FROM BOTH SCREENREADERS AND BROWSERS: H5BP.COM/U
///////////////////////////////////////////////////////////////////////////////

.hidden,
.is-hidden {
  display: none !important;
  visibility: hidden;
}

// SHOW IN BOTH SCREENREADERS AND BROWSERS: H5BP.COM/U
///////////////////////////////////////////////////////////////////////////////

.is-visible {
  display: block !important;
  visibility: visible;
}

// HIDE ONLY VISUALLY, BUT HAVE IT AVAILABLE FOR SCREENREADERS: H5BP.COM/V
// .focassable Extends the .visuallyhidden class to allow the element to be focusable
// when navigated to via the keyboard: h5bp.com/p
///////////////////////////////////////////////////////////////////////////////

.visuallyhidden,
.is-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}


// HIDE VISUALLY AND FROM SCREENREADERS, BUT MAINTAIN LAYOUT
///////////////////////////////////////////////////////////////////////////////

.invisible,
.is-invisible {
  visibility: hidden;
}


// FLOATS AND ALIGNMENTS
///////////////////////////////////////////////////////////////////////////////

.is-right {
  float: right;
}

.is-left {
  float: left;
}

// TEXT ALIGNMENT
.is-text-left {
  text-align: left;
}

.is-text-right {
  text-align: right;
}

.is-text-center {
  text-align: center;
}

.is-text-justify {
  text-align: justify;
}

// CLEARFIX HACK
.clearfix {
  @include clearfix;
}

.clear {
  clear: both;
}