---
layout: default
title: "work"
heading: "Work"
description: This is a selection of case studies. If you have questions about these projects, please get in touch.

---

{% include heading.html heading=page.heading %}

<div class="prose dark:prose-invert mb-12">
<p>This is a selection of case studies. If you have questions about these projects, please get in touch.</p>
</div>

<div role="list" class="grid grid-cols-2 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 xl:gap-x-8 mb-3">
  {% for case in site.cases %}
  <article class="bg-white/60 dark:bg-zinc-800/90 ring-1 ring-zinc-900/5 dark:ring-white/10 hover:ring-zinc-900/20 dark:hover:ring-white/20 p-4 rounded transition duration-300 ease-in-out">
    {% if case.thumbnail %}
      <a href="{{ case.url | relative_url }}"><img width="80" height="45" class="rounded-md" alt="{{ case.title }}" src="/assets/images/{{ case.thumbnail | relative_url }}"/></a>
    {% endif %}
    <p class="mt-4 pb-2 font-bold">
      <a href="{{ case.url | relative_url }}">{{ case.title }}</a></p>
    <p><a href="{{ case.url | relative_url }}">{{ case.description | markdownify }}</a></p>
  </article>
  {% endfor %}
</div>

<div class="lg:flex mt-6">
  <div class="lg:w-1/3 p-4">
    <h2 class="text-2xl font-bold py-6 border-t md:border-zinc-200 md:dark:border-zinc-700/80">Experience</h2>
    <div class="mb-6 md:border-l md:border-zinc-200 md:pl-6 md:dark:border-zinc-700/80">
      <h3 class="text-base font-bold font-sans">Trimble</h3>
      <p>October 2021 - Present</p>
      <p>Senior UX Designer</p>
    </div>
    <div class="mb-6 md:border-l md:border-zinc-200 md:pl-6 md:dark:border-zinc-700/80">
      <h3 class="text-base font-bold font-sans">Goldstar Events</h3>
      <p>May 2015 - September 2021</p>
      <p>Senior UX Designer</p>
    </div>
    <div class="mb-6 md:border-l md:border-zinc-200 md:pl-6 md:dark:border-zinc-700/80">
      <h3 class="text-base font-bold font-sans">Lightspeed Systems</h3>
      <p>July 2012 - March 2015</p>
      <p>UI Designer</p>
    </div>
    <div class="mb-6 md:border-l md:border-zinc-200 md:pl-6 md:dark:border-zinc-700/80">
      <h3 class="text-base font-bold font-sans0">HP Agrisystems</h3>
      <p>November 2011 - July 2012</p>
      <p>UI Designer</p>
    </div>
    <div class="mb-6 md:border-l md:border-zinc-200 md:pl-6 md:dark:border-zinc-700/80">
      <h3 class="text-base font-bold font-sans">Previous agency work</h3>
      <p>November 2006 - August 2011</p>
      <p>UI Designer</p>
    </div>
  </div>
  <div class="lg:w-1/3 p-4">
    <h2 class="text-2xl font-bold py-6 border-t md:border-zinc-200 md:dark:border-zinc-700/80">Tools</h2>
    <ul class="list-disc list-inside">
      <li>Pen and paper</li>
      <li>Figma, Penpot, Sketch</li>
      <li>Adobe Creative Suite</li>
      <li>Miro, Maze, Dovetail, UserTesting.com</li>
      <li>HTML, CSS and (some) JS</li>
    </ul>
  </div>
  <div class="lg:w-1/3 p-4">
    <h2 class="text-2xl font-bold py-6 border-t md:border-zinc-200 md:dark:border-zinc-700/80">Skills</h2>
    <ul class="list-disc list-inside"> 
      <li>Cross platform design (Desktop, Native Mobile, responsive, etc.)</li>
      <li>Design libraries and Styleguides</li>
      <li>User journey mapping</li>
      <li>User interviews and Usability testing</li>
      <li>Information Architecture</li>
      <li>Wireframing</li>
      <li>Interactive prototypes</li>
      <li>Contextual inquiry</li>
    </ul>
  </div>
</div>